.takeOrderPage{
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: baseline;
    justify-content: center;
    margin: auto;
    color: black;
    gap: 16px;
    padding: 40px;
    input{
        color: black;
    }

    .closeIcon{
        cursor: pointer;
    }

    .foodOrder{
        display: grid;
        gap: 8px;
    }

    .foodItemContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        place-content: center;
        align-items: center;
    }

    .foodItemListContainer{
        display: grid;
        gap:10px;
        margin: 10px 0px 5px 0px;
        min-height: 70px;
        max-height: 458px;
        overflow: scroll;
    }
    
    .selectFoodItemContainer{
        display: grid;
        grid-template-columns: auto auto;
    }

    :global(.foodTypeContainer){
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .fieldContainer{
        display: flex;
        flex-direction: column;
    }

    .fieldErrorMessageContainer{
        height: 20px;
    }
}
